In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg

# PSID Active Savings 89 and 94
`isr.umich.edu-psid-89_94-actsav-1.1.1` Last Update: 2023-06-06T22:14:09

_Measurements of money flows into savings, housing and annuities._


## Documentation Links

* [Home Page](https://psidonline.isr.umich.edu/default.aspx) PSID home page



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[act94](notebooks/extract.ipynb#act94)**. Active savings, 1994
* **[act89](notebooks/extract.ipynb#act89)**. Active savings, 1989

## References
<ul><li> <strong>source</string>, <em>data/ActSavings89_94</em>. </li><ul>

In [3]:
dp = pkg.reference('source').resolved_url.fspath

In [4]:
cs = [ (int(e['start']),int(e['end'])+1) for  e in pkg.resource('act94').columns()]
col_names = [ e['name'] for  e in pkg.resource('act94').columns()]

act94 = pd.read_fwf(dp.joinpath('ACT94.txt'), colspecs=cs)
act94.columns = col_names

act94['act94v16'] = pd.to_numeric(act94.act94v16.replace({'0-':'0', '3000-':'3000'}))

act94.head()

,act94v1,act94v2,act94v3,act94v4,act94v5,act94v6,act94v7,act94v8,act94v9,act94v10,act94v11,act94v12,act94v13,act94v14,act94v15,act94v16,act94v17,act94v18
0,NaN,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,NaN,18,0,0,4500,0,0,0,0,0,0,0,0,0,0,0,0,0
2,NaN,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18000
3,NaN,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,NaN,34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22000

In [5]:
cs = [ (int(e['start']),int(e['end'])+1) for  e in pkg.resource('act89').columns()]
col_names = [ e['name'] for  e in pkg.resource('act89').columns()]

act89 = pd.read_fwf(dp.joinpath('ACT89.txt'), colspecs=cs)
act89.columns = col_names

act89['act89v5'] = pd.to_numeric(act89.act89v5.replace({'0-':'0', '3000-':'3000'}))
act89['act89v15'] = pd.to_numeric(act89.act89v15.replace({'0-':'0', '3000-':'3000'}))

act89.head()

,act89v1,act89v2,act89v3,act89v4,act89v5,act89v6,act89v7,act89v8,act89v9,act89v10,act89v11,act89v12,act89v13,act89v14,act89v15,act89v16
0,NaN,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,NaN,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,NaN,4,0,0,0,0,15000,0,0,0,0,0,0,0,0,0
3,NaN,5,0,0,0,0,0,0,0,0,0,0,0,10000,0,0
4,NaN,6,0,0,2500,0,0,0,0,0,0,0,0,0,0,0